*{
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    background-color: #0b47a1;
    color: black;
    font-size: 16px;
}

.image{
    width: 1440px;
}

.fontSettings{
    color: white;
}

.dark-mode{
    background-color: black;
    color: white;
}
